@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt_wght.ttf");
  }

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --darkgrey: hsl(0, 0%, 12%);
    --black: hsl(0, 0%, 8%);
}

body{
    font-size: 28px;
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--black);
    color: var(--white);
    
}    

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: var(--darkgrey);
    border-radius: 12px;
    padding: 12px;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.name{
    font-size: 24px;
    font-weight: bold;
}

.location{
    font-size: 14px;
    font-weight: bold;
    color: var(--green);
    padding-top: 20px;
}

.slogan{
    text-align: center;
    font-size: 16px;
    padding-top: 25px;
}

.avatar{
    width: 100px;
    height: auto;
    border-radius: 50%;
    padding-top: 15px;
    padding-bottom: 30px;
    margin: auto;
}

.socials{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.social-link{
    display: flex;
    color: var(--white);
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--grey);
    width: 300px;
    height: 46px;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    
    
}

.attribution{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
    a {
        text-decoration: none;
        color: var(--green);
        
    }
}

